th.o_pivot_header_cell_closed .hidden-xs {
                        max-width:50px !important;
                        white-space: nowrap !important;
                        overflow: hidden !important;
                        text-overflow: ellipsis !important;
                        }

th.o_pivot_header_cell_closed .hidden-xs:hover {
                overflow: visible !important;
                }