.oe_products_item {
    display: inline-block;
    padding: 3px;
    margin: 5px;
    border: 1px solid black;
    border-radius: 3px;
}
.icon {
    font-size: 14px;
    text-align: center;
    line-height: 14px;
    vertical-align: middle;

    cursor: pointer;
}
.scheduler_default_rowheader_selected
{
    background-color: #92a0c0 !important;
    background-image: none !important;
}
.scheduler_default_cell_selected
{
    background-color: rgb(255, 255, 255) !important;
    background-image: none !important;
}
.scheduler_default_rowheader_inner
{
    border-right: 1px solid #ccc;
}
.scheduler_default_rowheadercol2
{
    background: White;
}
.scheduler_default_rowheadercol2 .scheduler_default_rowheader_inner
{
    top: 2px;
    bottom: 2px;
    left: 2px;
    background-color: transparent;
    border-left: 5px solid #1a9d13; /* green */
    border-right: 0px none;
}
.status_dirty.scheduler_default_rowheadercol2 .scheduler_default_rowheader_inner
{
    border-left: 5px solid #ea3624; /* red */
}
.status_cleanup.scheduler_default_rowheadercol2 .scheduler_default_rowheader_inner
{
    border-left: 5px solid #f9ba25; /* orange */
}
.modal-header .close {
    display: hidden;
}
.right {
    float: right;
}